.btn-container {
  margin-top: 43px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  button {
    margin-left: 65px;
    width: 120px;
    height: 50px;
    border-radius: 2px;
  }
  .ok-btn {
    color: #FFFFFF;
    background: linear-gradient(-90deg, rgba(104, 129, 235, 1) 0%, rgba(137, 155, 234, 1) 100%);
  }
  .cancel-btn {
    color: #999999;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(170, 170, 170, 1);
  }
}

.money {
  font-size: 23px;
  color: #333333;
}

.item {
  font-size: 20px;
}
