.select {
  width: 100px;
  height: 50px;
  background: rgba(104, 129, 235, 1);
  border-radius: 2px;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 40px;
}

.search-container {
  margin-top: 16px;
}

.fix {
  color: #6881EB;
}

/* .btn-box {
  display: flex;
  .edit {
    font-size: 18px;
    color: #6881EB;
    padding-right: 10px;
  }
  .details {
    font-size: 18px;
    color: #6881EB;
  }
} */

.details {
  font-size: 18px;
  color: #6881EB;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  button {
    font-size: 20px;
    color: #FFFFFF;
    width: 120px;
    height: 50px;
    background: rgba(104, 129, 235, 1);
    border-radius: 2px;
  }
}
