.top-container {
  padding-bottom: 33px;
}
.count-container {
  height: 55px;
  text-align: center;
  font-size: 30px;
}
.count {
  color: #6881EB;
}

.order-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #EEEEEE;
  font-size: 20px;
}
