.form-container {
  margin-top: 83px;
  padding-bottom: 160px;
  .upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .qr-code {
      height: 166px;
      width: 166px;
    }
    .title {
      font-size: 22px;
      color: #333333;
      padding-bottom: 20px;
    }
    .des {
      padding-top: 16px;
      font-size: 16px;
      color: #666666;
    }
  }
}
