.form-container {
  margin-top: 83px;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding-top: 15%;
  padding-bottom: 40px;
  button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    background: rgba(104, 129, 235, 1);
    border-radius: 2px;
    color: #FFFFFF;
  }
}
